header {
  background-color: var(--main-blue);
  color: var(--light-text-color);
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  .headerLogo {
    width: 160px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
  }
}
