footer {
  background-color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
}
.footer-left {
  color: var(--main-green);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100px;
  }
}

.footer-right {
  color: var(--light-text-color);
}
