footer {
  background-color: var(--main-blue);
}
.footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.footer-left {
  color: var(--main-green);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100px;
  }
}

.footer-right {
  color: var(--light-text-color);
  padding: 0 20px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  button {
    background-color: var(--main-green);
  }
}
