.searchControls {
  display: flex;
  justify-content: center;
  margin: 10px;
  button {
    border-radius: 19px;
    border: 1px solid transparent;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(0, 36, 44, 0.87);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .active {
    background-color: #81e291;
    color: #00242c;
  }
}

.knownForImages {
  display: flex;
  justify-content: flex-start;
  img {
    width: 75px;
  }
}

.active {
  background-color: #81e291;
  color: #00242c;
}

.IndiMovieContainer {
  h2 {
    text-align: center;
  }
  .indiMoviePoster {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-position-x: center;
    img {
      width: 160px;
    }
  }
}
