.searchTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 1px;
  color: white;
}

.searchTools button {
  border-radius: 24px;
  background-color: var(--main-green);
  color: #00242c;
  padding: 17px;
  // position: relative;
  // left: -87px;
  border: 3px solid black;
  font-weight: 700;

  /* font-size: 15px; */
}
.searchTools input {
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 24px;
  margin-bottom: 10px;
  min-width: 70vw;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.active {
  background-color: #81e291;
  color: #00242c;
}

.searchResultChild {
  display: flex;
  align-items: center;
  margin: 15px 4px;
  background-color: #00242c;
  color: white;
  border-radius: 24px;
  font-size: 12px;
  width: 98vw;
  .movieDetails {
    font-size: 12px;
    padding: 0px 19px;
    p {
      text-align: left;
    }
  }
  img {
    width: 140px;
    height: 200px;
    padding: 10px;
  }
  h3 {
    font-size: 18px;
  }
}

.searchControls {
  display: flex;
  justify-content: center;
}
